<div class="container">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine">
          Name is required
        </div>
      </div>
      <br>
      <div>
        <label for="alterEgo">Alter Ego</label>
        <input type="text" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
      </div>
      <br>
      <div>
        <label for="power">Hero Power</label>
        <select id="power" required [(ngModel)]="model.power" name="power" #power="ngModel">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        
        <div [hidden]="power.valid || power.pristine">
          Power is required
        </div>
        
      </div>
      <br>
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
    </form>
  </div>
  
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <table id="table1">
      <tr>
        <th>Name</th>
        <th>Alter Ego</th>
        <th>Power</th>
      </tr>
      <tr>
        <td>{{ model.name }}</td>
        <td>{{ model.alterEgo }}</td>
        <td>{{ model.power }}</td>
      </tr>
      </table>
    
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
